/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

/* Applica il font a tutto il sito */
body {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  background: linear-gradient(135deg,#1f1c2c,#928dab);
  color: #fff;
}

.footer {
  background-color: #1f1c2c;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
  font-family: 'Montserrat', sans-serif;
}

.footer a {
  color: #f39c12;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
  display: inline-flex;
  align-items: center;
}

.footer a:hover {
  color: #fff;
}

.social-links {
  margin: 1rem 0;
}

.credits {
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #aaa;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
